import { NextPage } from "next";

type Props = {
  data: any
};

const {{ .toTitle name }}Page: NextPage<Props> = ({ data }) => {
  return (
    <>
      <h1>Generated {{ name }} page</h1>
    </>
  )
};

export default {{ .toTitle name }}Page
