import { NextPage } from "next";

type Props = {
  data: any
};

const {{ .toUpper name }}Page: NextPage<Props> = ({ data }) => {
  return (
    <>
      <h1>Generated {{ name }} page</h1>
    </>
  )
};

export default {{ name }}Page
